name: stonkista

services:
  stonkista:
    image: stonkista:prod
    build:
      context: ..
      dockerfile: .docker/Dockerfile.prod
    environment:
      DATABASE_HOST: ${DATABASE_HOST}
      DATABASE_PORT: ${DATABASE_PORT}
      DATABASE_NAME: ${DATABASE_NAME}
      DATABASE_USER: ${DATABASE_USER}
      DATABASE_PASS: ${DATABASE_PASS}
      QUEUE_HOST: ${QUEUE_HOST}
      QUEUE_PORT: ${QUEUE_PORT}
      COINGECKO_API_KEY: ${COINGECKO_API_KEY}
      COINGECKO_PROXY: ${COINGECKO_PROXY}
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - default
      - dokploy-network

  bastion:
    image: linuxserver/openssh-server
    environment:
      PASSWORD_ACCESS: false
      SUDO_ACCESS: false
      USER_NAME: ${BASTION_USER}
      PUBLIC_KEY: ${BASTION_PUBLIC_KEY}
      LISTEN_PORT: ${BASTION_PORT}
      DOCKER_MODS: linuxserver/mods:openssh-server-ssh-tunnel
    ports:
      - ${BASTION_PORT}:${BASTION_PORT}

  postgres:
    image: postgres:18-alpine
    environment:
      POSTGRES_DB: ${DATABASE_NAME}
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASS}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U ${DATABASE_USER} -d ${DATABASE_NAME}']
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:8-alpine
    volumes:
      - redis_data:/data
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
      interval: 5s
      timeout: 5s
      retries: 5

  bullboard:
    image: venatum/bull-board:latest
    environment:
      REDIS_HOST: ${QUEUE_HOST}
      REDIS_PORT: ${QUEUE_PORT}
      BULL_PREFIX: bull
      BULL_VERSION: BULLMQ
    depends_on:
      redis:
        condition: service_healthy
    networks:
      - default
      - dokploy-network

networks:
  dokploy-network:
    external: true

volumes:
  postgres_data:
  redis_data:
