name: Test
run-name: "Test: ${{ github.event.head_commit.message || github.event.pull_request.title }}"

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Bun
        uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Lint
        run: bunx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true .

      - name: Type check
        run: bunx tsc --noEmit

      - name: Run tests
        run: bun test
